<h1><%= @restaurant.name %></h1>
<h2>address: <%= @restaurant.address %></h2>
<h2>phone_number: <%= @restaurant.phone_number %></h2>
<h2>category: <%= @restaurant.category %></h2>

<h1>Reviews</h1>
<ul>
<% @reviews.each do |review| %>
  <% if review.restaurant_id == @restaurant.id  %>
    <li>
    <%= review.content %>
    <%= review.rating %>
    </li>
  <% end %>
<% end %>
</ul>





<%= link_to "review", new_restaurant_review_path(@restaurant) %>
<%= link_to "Homepage", restaurants_path %>
